.cardContainer {
    perspective: 1000px;
    width: 680px;
    height: 520px;
    margin: 0 auto;
    cursor: pointer;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 12px;
}

.cardFace {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    box-sizing: border-box;
}

.cardFront {
    border-radius: 12px;
}

.cardBack {
    background-color: #f0f0f0;
    transform: rotateY(180deg);
    border-radius: 12px;
}

.cardImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
}

.cardText {
    font-size: 25px;
    padding: 10px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .cardContainer {
        width: 90%;
        height: 400px;
    }

    .cardText {
        font-size: 20px;
        padding: 10px;
    }
}