@font-face {
    font-family: 'Monterchi';
    src: url("../assets/Fonts/Monterchi.ttf") format("truetype");
}

.backgroundImage {
        height: 100vh;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
    }

.backgroundContent {
    font-family: 'Monterchi', sans-serif;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.backgroundContent h1 {
    font-size:  6rem;
    margin: 5px 0;
    font-weight: normal;
}

.backgroundContent p {
    font-size: 2rem;
    margin: 5px 0;
}

.scrollDown {
    margin-top: 20px;
    font-size: 1.5rem;
} 
/* .websiteLogo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 10px;
    height: auto;
    z-index: 10;
} */