.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 50px;
    padding-right: 225px;
    background: transparent;
    margin-top: 20px;
    z-index: 1;
    box-sizing: border-box;
}

.navbar a {
    text-decoration: none;
    font-family: 'Monterchi', sans-serif;
    color: white;
    font-size: 2rem;
    margin-left: 100px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #f1c40f;
}

.logo {
    cursor: pointer;
    position: absolute;
    left: 50px;
    height: 70px;
    width: auto;
    object-fit: contain;
    /* margin-top: 5px; */
}
.navbar a.logoLink {
    text-decoration: none;
    display: flex;
    align-items: center;

}

.bm-burger-button {
    display: none;
    z-index: 1000 !important;
}
.bm-burger-bars {
    background: white;
}
.bm-burgers-bars-hover {
    background: #f1c40f;
}
.bm-menu {
    background: red !important;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    z-index: 999 !important;
}
.bm-item {
    display: block;
    padding: 0.5em;
    color: white;
    text-decoration: none;
    font-family: 'Monterchi', sans-serif;
    font-size: 1.5rem;
}
.bm-item:hover {
    color: #f1c40f;
}
.bm-overlay {
    background: rgba(0, 0, 0, 0.7);
    z-index: 998 !important;
}

@media screen and (max-width: 1024px) {
    .navLinks {
        display: none;
    }
    .bm-burger-button {
        display: block !important;
        position: absolute;
        right: 50px;
        top: 25px;
    }
    
}