.galleryBackground {
    background-color: white;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0; 
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    align-items: center;
}

.backgroundContent {
    font-family: 'Cormorant Garamond', sans-serif;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.framerSway {
    position: absolute;
    width: 350px;
    transform-origin: bottom center;
    opacity: 0.9;
}

.bottomLeft {
    left: 0;
    bottom: -45px;
}

.bottomRight {
    right: -15px;
    bottom: -45px;
    padding-right: -10px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    gap: 50px;
}

.buttonContainer .viewButton {
    background-color: green !important;
    color: white !important;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 15px;
    font-family: 'Georgia', sans-serif;
    border-radius: 15px;
    font-weight: bold;
    width: 100px;
    white-space: nowrap;
    margin-top: 30px;
}

.backgroundContent h1 {
    margin-bottom: 20px;
    font-size: 3rem;
}