<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> feature/Animations
html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.backgroundImage {
        height: 100vh;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
    }

.backgroundContent {
    font-family: 'Cormorant Garamond', sans-serif;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.backgroundContent h1 {
    font-size:  4.3rem;
    margin: 5px 0;
    font-weight: normal;
}

.backgroundContent p {
    font-size: 1.5rem;
    margin: 5px 0;
}

.logo {
    cursor: pointer;
    height: 80px;
    width: auto;
    object-fit: contain;
}

.fallingBamboo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}

.bamboo {
    position: absolute;
    height: auto;
    opacity: 0.8;
<<<<<<< HEAD
}
>>>>>>> feature/Animations
=======
}
>>>>>>> feature/Animations
