@font-face {
    font-family: 'Monterchi';
    src: url("../assets/Fonts/Monterchi.ttf") format("truetype");
}
.backgroundImage {
        height: 100vh;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
    }

.backgroundContent {
    font-family: 'Cormorant Garamond', sans-serif;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.backgroundContent h1 {
    font-size:  4.3rem;
    margin: 5px 0;
    font-weight: normal;
}

.backgroundContent p {
    font-size: 1.5rem;
    margin: 5px 0;
}

.logo {
    cursor: pointer;
    height: 80px;
    width: auto;
    object-fit: contain;
    /* margin-top: 5px; */
}
