.resultsContainer {
    text-align: center;
    padding: 30px;
}

.emissionsBox {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    display: inline-block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.backButton {
    margin-top: 20px;
    background-color: green;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.backButton:hover {
    background-color: darkgreen;
}