.galleryContainer {
    position: relative;
    padding: 100px;
    text-align: center;
    background-color: white;
    max-width: 100%;
    margin: auto;
    margin-top: -50px;
    z-index: 1;
}

.galleryContainer h1 {
    font-size: 2.5rem;
    font-family: 'Cormorant Garamond', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}

.slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.prevArrow, .nextArrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;
    color: #333;
}

.prevArrow {
    left: 50px;
}

.nextArrow {
    right: 50px;
}

.slick-dots {
    position: static;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .galleryContainer {
        padding: 60px 20px;
    }

    .nextArrow,
    .prevArrow {
        width: 28px;
        height: 28px;
        padding: 4px;
    }
    .prevArrow {
        left: -2px;
    }
    .nextArrow {
        right: -5px;
    }
}