.galleryContainer {
    position: relative;
    padding: 100px;
    text-align: center;
    background-color: white;
    max-width: 100%;
    margin: auto;
}

.slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.prevArrow, .nextArrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;
    color: #333;
}

.prevArrow {
    left: -30px;
}

.nextArrow {
    right: -30px;
}
