.galleryContainer {
    padding: 100px;
    text-align: center;
    background-color: white;
    min-height: 100vh;
}

.slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}